@charset "utf-8";
@import url("fonts.css");

* { padding: 0; margin: 0; position: relative; overflow: hidden; width: 100vw; height: 100vh; }

#header {
    height: 20vh;
    background-color: #228b22;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub {
    height: 10vh;
    background-color: #0099ff;
    display: block;
    justify-self: center;
    align-items: center;
}

#menuA, #menuB, #menuC, #menuD {
    width: 25vw;
    background-color: #363636;
    display: block;
    float: left;
    margin: 0 auto;
    line-height: 20vh;
    font-size: 25px;
    font-family: "kimm_bold";
    color: #ffffff;
}

#menuB {
    background-color: #ff0000;
}

#menuC {
    background-color: #00ff00;
}

#menuD {
    background-color: #0000ff;
}

#section {
    width: 25vw;
    height: 50vh;
    display: block;
    float: left;
    margin: 0 auto;
    background-color: #ff7f50;
}

#info {
    width: 50%;
    height: 50vh;
    display: block;
    float: left;
    margin: 0 auto;
    object-fit: fill;
}

#kind {
    width: 25vw;
    height: 50vh;
    background-color: #a3d3ff;
    display: block;
    float: left;
    margin: 0 auto;
}

#kind01, #kind04 {
    width: 50%;
    height: 50%;
    float: left;
    margin: 0 auto;
    background-color: #000000;
}

#kind02, #kind03 {
    width: 50%;
    height: 50%;
    float: left;
    margin: 0 auto;
    background-color: #a3d3ff;
}