@charset "utf-8";
@import url("fonts.css");

* { padding: 0; margin: 0; overflow: hidden; }

#header {
    height: 200px;
    background-color: #228b22;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuA, #menuB, #menuC {
    width: 500px;
    height: 200px;
    background-color: #363636;
    display: block;
    float: left;
    margin: 0 50px;
    line-height: 200px;
    font-size: 50px;
    font-family: "kimm_bold";
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7f50;
}