@charset "utf-8";
@import url("fonts.css");

* { padding: 0; margin: 0; box-sizing: border-box; }

a { text-decoration: none; color: #333333; }

li { list-style: none; }

img {vertical-align: top; width: 100%; }

button { border: none; box-shadow: none; border-radius: 0; cursor: pointer; }

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --default-font-size: 64px;
    --default-font-family: "kimm_bold";
}

.obj > div {
    color: var(--color-white);
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

#obj01 { background-color: #0000ff; }
#obj02 { background-color: #00ff00; }
#obj03 { background-color: #ff0000; }


.obj > div > .subdiv {
    display: none;
}

.obj > div > .subdiv > div {
    width: 25%;
    float: left;
}

#obj01 > .subdiv > div:nth-child(1) {
    background-color: #333333;
}

#obj01 > .subdiv > div:nth-child(2) {
    background-color: #9b9b9b;
}

#obj01 > .subdiv > div:nth-child(3) {
    background-color: #b8b8b8;
}

#obj01 > .subdiv > div:nth-child(4) {
    background-color: #cc7d7d;
}

#btnChange {
    color: var(--color-white);
    background-color: #ff00ff;
    width: 25%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}